/* stylelint-disable shorthand-property-no-redundant-values */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable shorthand-property-no-5undant-values */
/* stylelint-disable color-hex-length */
/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable length-zero-no-unit */
/* stylelint-disable font-family-name-quotes */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable color-function-notation */
/* stylelint-disable no-invalid-position-at-import-rule */
/* stylelint-disable value-no-vendor-prefix */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable rule-empty-line-before */
/* stylelint-disable comment-whitespace-inside */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,800&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*Colors*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  background-color: #f8f8f8;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

@-webkit-keyframes makeblack {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.5);
  }
}

@keyframes makeblack {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.5);
  }
}
@-webkit-keyframes makewhite {
  from {
    background: rgba(0, 0, 0, 0.5);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes makewhite {
  from {
    background: rgba(0, 0, 0, 0.5);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}
li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0e0e0e;
  text-decoration: none;
}

.active {
  font-weight: 800;
  color: white;
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #f8f8f8;
  width: 100%;
}

.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 1;
}

@-webkit-keyframes closenav {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -80px;
    opacity: 0;
  }
}

@keyframes closenav {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -80px;
    opacity: 0;
  }
}
@-webkit-keyframes opennav {
  from {
    top: -80px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes opennav {
  from {
    top: -80px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.headerBackground {
  margin: auto;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5) url("/public/skor.jpg");
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 830px;
}

.headerBackground h1 {
  color: #f8f8f8;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 32px;
  max-width: 70%;
  margin: auto;
}

header button {
  width: 45px;
  height: 45px;
  background: transparent;
  border: 0;
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 3;
  cursor: pointer;
}

#checkbox {
  display: none;
}

.openCart {
  position: fixed;
  top: 30px;
  right: 70px;
  z-index: 3;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.menuOpener {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.menuOpener span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #ae4141;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  margin-left: 6px;
  cursor: pointer;
}
.menuOpener span:nth-child(2) {
  margin-left: 0;
  transition: all 0.4s ease-in-out;
}

div.menu button:hover span:nth-child(2) {
  left: 6px;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.nav__links li a {
  text-transform: uppercase;
  color: #0e0e0e;
  text-decoration: none;
  padding: 0px 20px;
}

.nav__links ul {
  list-style: none;
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  text-align: center;
  background: rgb(255, 255, 255);
  width: 220px;
  height: 300px;
  margin: 10px;
  border-radius: 15px;
}

.card-image {
  height: 180px;
  margin-bottom: 15px;
  background-size: cover;
}

.shoe-1 {
  background-image: url("/public/bild1.jpg");
}

.shoe-2 {
  background-image: url("/public/bild2.jpg");
}

.shoe-3 {
  background-image: url("/public/bild3.jpg");
}

.shoe-4 {
  background-image: url("/public/bild4.jpg");
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.4s ease;
}

.openCardContainer p {
  font-size: 20px;
  margin-top: -30px;
  margin-bottom: 15px;
  font-weight: 600;
}

.openCardContainer h2 {
  font-size: 20px;
  font-weight: 800;
  margin-top: 10px;
}

.openCardContainer img {
  width: 300px;
  height: 300px;
  margin: auto;
}

.openCardContainer {
  text-align: center;
  width: 500px;
  height: 500px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0;
  z-index: 2;
}

.addToCart {
  background-color: #0e0e0e;
  color: #f8f8f8;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 15px;
}

.numberOfShoes,
.buttonSizes button {
  border-radius: 10px;
  height: 40px;
  width: 50px;
  font-size: 20px;
  border: 2px solid #0e0e0e;
}

@-webkit-keyframes opencard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opencard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes closecard {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes closecard {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.lblCartCount {
  font-size: 12px;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
  border-radius: 50%;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 9px;
}

.shoppingContainer {
  display: none;
  flex-direction: column;
  width: 500px;
  height: 100%;
  position: fixed;
  left: 120%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
}

@-webkit-keyframes opencart {
  from {
    left: 120%;
  }
  to {
    left: 90%;
  }
}

@keyframes opencart {
  from {
    left: 120%;
  }
  to {
    left: 90%;
  }
}
@-webkit-keyframes closecart {
  from {
    left: 90%;
  }
  to {
    left: 120%;
  }
}
@keyframes closecart {
  from {
    left: 90%;
  }
  to {
    left: 120%;
  }
}
.shoppingContainerContent {
  display: flex;
  flex-direction: column;
}

.cartItem {
  display: flex;
  justify-content: center;
}
.cartItem input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.cartItem input[type=number]::-webkit-inner-spin-button,
.cartItem input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.itemAddRemove {
  border: 2px solid #ddd;
  display: inline-flex;
  border-width: 2px;
  height: 25px;
}

.itemAddRemove,
.itemAddRemove * {
  box-sizing: border-box;
}

.itemAddRemove button {
  outline: none;
  background-color: #eeeeee;
  border: none;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  padding: 0;
}

.itemAddRemove button::before,
.itemAddRemove button::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}

.itemAddRemove button.plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.itemAddRemove input[type=number] {
  font-family: sans-serif;
  max-width: 2rem;
  border: 0;
  text-align: center;
  outline: none;
}

.cartItem,
h2,
h3 {
  font-size: 15px;
}

.itemText {
  display: flex;
  flex-direction: column;
}

.search_box input {
  width: 25vw;
  padding: 10px 10px;
  font-size: 15px;
}

.nav-down {
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

.nav-up {
  top: -50px;
}

.scrollTop {
  display: none;
  position: fixed;
  font-size: 25px;
  height: 45px;
  width: 45px;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ae4141;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}

.scrollTop:hover {
  background-color: #555;
}

.checkoutContainer {
  display: none;
}

.formContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: #f2f2f2;
  border: 1px solid lightgrey;
  border-radius: 3px;
  min-width: 400px;
  width: 50%;
  justify-content: space-between;
}

.checkoutfirstColumn {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.checkoutsecondColumn {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.secondColumnSplit {
  display: flex;
  justify-content: space-between;
}

.secondColumnFirstRow {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.secondColumnSecondRow {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.checkOutButton {
  background-color: #ae4141;
  color: #f8f8f8;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.5vw;
}

.AboutUsContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.nameError {
  display: none;
  font-size: 0.8em;
}

.nameError.visible {
  display: block;
}

input.invalid {
  border-color: #ae4141;
}

.completedOrder {
  text-align: center;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
}

@-webkit-keyframes opencompleteorder {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opencompleteorder {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes closecompleteorder {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes closecompleteorder {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.ContactUsContainer {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ContactUsContainer h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.hamburgerOpenContainer {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #f8f8f8;
}

.closeHamburgerContainer {
  position: fixed;
  top: 5px;
  right: 10px;
  font-size: 30px;
}

.navContainer {
  height: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navHamburger li a {
  text-transform: uppercase;
  color: #0e0e0e;
  text-decoration: none;
  padding: 0px 20px;
  font-size: 75px;
}

.navHamburger ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .nav__links {
    display: none;
  }
  .menuOpener {
    display: block;
  }
  .navbar {
    justify-content: flex-start;
  }
  .search_box input {
    width: 500px;
  }
}
@media screen and (max-width: 800px) {
  .search_box input {
    width: 250px;
  }
}/*# sourceMappingURL=style.css.map */